/* Have fun adding your style here :) - PS: At all times this file should contain a comment or a rule, otherwise opera might act buggy :( */

/* General Custom CSS */

@font-face {
    font-family: "EurostileLTStd";
    src: url("../fonts/EurostileLTStd.otf"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "EurostileLTStd-Demi";
    src: url("../fonts/EurostileLTStd-Demi.otf"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "EurostileLTStd-Bold";
    src: url("../fonts/EurostileLTStd-Bold.otf"); /* Modern Browsers */
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "DINPro";
    src: url("../fonts/DINPro.otf"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DINPro-Light";
    src: url("../fonts/DINPro-Light.otf"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DINPro-Demi";
    src: url("../fonts/DINPro-Medium.otf"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DINPro-Bold";
    src: url("../fonts/DINPro-Bold.otf"); /* Modern Browsers */
    font-weight: bold;
    font-style: normal;
}


/*
FIRST FONTS ONLY
 */
h1, h2, h3, h4 {
    font-family: 'EurostileLTStd-Bold', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
}

p {
    font-family: 'DINPro-Light', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: black;
}

li {
    font-family: 'DINPro-Light', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.gloria_dinpro_light {
    font-family: 'DINPro-Light', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.gloria-avia-caption-content-gray p {
    font-family: 'DINPro', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    font-size: 20px;
}

.gloria-avia-caption-content-green p {
    font-family: 'DINPro', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    font-size: 20px;
}

#top .main_color .avia-color-theme-color {
    font-family: 'DINPro', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;

}

.page-id-504 h3 {
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 12px;
}

.custom-caption {
    font-family: 'DINPro-Light', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
}

#av-burger-menu-ul li a {
    font-family: 'EurostileLTStd-Bold', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 1.5vh;
}

.sub-menu li a {
    font-family: 'DINPro', 'Helvetica-Neue', Helvetica, Arial, sans-serif !important;

}

.grid-entry-title a {
    font-family: 'DINPro-Demi', 'Helvetica-Neue', Helvetica, Arial, sans-serif !important;

}

.breadcrumb .sep {
    display: block;
    overflow: hidden;
    width: 12px;
    font-size: 8px;
}

.trail-begin {
    color: #44834e !important;
}

.trail-before {
    display: none !important;
}

/*
Back Button Portfolio Itempage
 */
#my-back-button {
    position: relative;
    float: left;
    background: none !important;
    border: none;
    padding: 0px 6px 6px 6px !important; /*optional*/
    font-family: 'DINPro-Bold', 'Helvetica-Neue', Helvetica, Arial, sans-serif !important;
    font-size: 14px;
    /*input has OS specific font-family*/
    color: #44834e;
    text-decoration: underline;
    cursor: pointer;
}

/*
FIRST FONTS ONLY ENDE
 */

.special_amp {
    font-family: inherit;
    font-size: inherit !important;
    font-style: inherit;
    font-weight: inherit;
    color: inherit !important;
}

/*
  Hier kommen die Gloria Buttons
*/
#top .avia-slideshow-button {
    background: linear-gradient(135deg, transparent 5px, #44834e 0) top left,
    linear-gradient(225deg, transparent 5px, #44834e 0) top right,
    linear-gradient(315deg, transparent 5px, #44834e 0) bottom right,
    linear-gradient(45deg, transparent 5px, #44834e 0) bottom left;
    background-size: 51% 50%;
    border-bottom-style: hidden;
    background-repeat: no-repeat;
    width: 50%;
}

/*
Dots auf dem Slider oben
 */
.av-slider-scroll-down-active .avia-slideshow-dots a {
    opacity: 1;
    background: transparent;
    border: white solid 1px;
    margin: 0 5px 0 5px;
    padding: 4px;
}

.avia-slideshow-dots a.active, .avia-slideshow-dots {
    opacity: 1;
    background: white;
    margin: 0 5px 0 5px;
}

ul {
    list-style-type: square !important;
}

#gloria-portfolio-category {
    min-height: 40px;
    height: 40px;
}

#gloria-portfolio-category .container div.template-page {
    padding: 8px !important;
}

.avia-fullwidth-slider .avia-slideshow-arrows.avia-slideshow-controls .prev-slide {

}

.avia-fullwidth-slider .avia-slideshow-arrows.avia-slideshow-controls .next-slide {

}

/*#top #wrap_all .all_colors h3 {
    letter-spacing: 2px;
    text-decoration: underline;
}*/

.gloria-social-button-fb {
    background: linear-gradient(135deg, transparent 3px, #f2f2f2 0) top left,
    linear-gradient(225deg, transparent 3px, #f2f2f2 0) top right,
    linear-gradient(315deg, transparent 3px, #f2f2f2 0) bottom right,
    linear-gradient(45deg, transparent 3px, #f2f2f2 0) bottom left;
    background-size: 51% 51%;
    border-bottom-style: hidden;
    background-repeat: no-repeat;
    padding: 8px 12px 8px 12px;
    color: #292929 !important;
    margin: 10px 20px 10px 20px;
}

.gloria-social-button-insta {
    background: linear-gradient(135deg, transparent 3px, #f2f2f2 0) top left,
    linear-gradient(225deg, transparent 3px, #f2f2f2 0) top right,
    linear-gradient(315deg, transparent 3px, #f2f2f2 0) bottom right,
    linear-gradient(45deg, transparent 3px, #f2f2f2 0) bottom left;
    background-size: 51% 51%;
    border-bottom-style: hidden;
    background-repeat: no-repeat;
    padding: 8px 10px 8px 10px;
    color: #292929 !important;
    margin: 10px 20px 10px 20px;
}

.page-id-504 #av_section_2 .container {
    width: 100% !important;
    max-width: 100% !important;
}

.page-id-504 #av_section_2 .container .template-page {
    padding: 0 !important;
}

.page-id-504 #av-sc-portfolio-1 .grid-entry {
    width: 125% !important;
    padding-left: 0 !important;
    left: -40px !important;
}

.page-id-504 .responsive #top #wrap_all .grid-sort-container .grid-entry {
    width: 100% !important;
}

#top .isotope-item.special_av_fullwidth .av_table_col.grid-content {
    display: none;
}


/*
Style Newsbeitrag Homepage
 */
.page-id-504 .post-meta-infos {
    display: none;
}

.page-id-504 .entry-footer {
    display: none;
}

.page-id-504 .post_delimiter {
    display: none;
}

.page-id-504 .more-link-arrow {
    display: none;
}

#top.page-id-504 .more-link {
    color: white;
    font-size: 13px;
    font-family: DINPro-Demi, 'Helvetica-Neue', Helvetica, Arial, sans-serif;;
}

/*
Style Newsbeitrag Blog Homepage Ende
 */

/*
Style NEWS ÜBERSICHT SEITE
 */

.page-id-842 .post-meta-infos {
    display: none;
}

.page-id-842 .entry-footer {
    display: none;
}

.page-id-842 .post_delimiter {
    display: none;
}

.page-id-842 .more-link-arrow {
    display: none;
}

#top.page-id-842 .template-page .template-blog .entry-content-wrapper h1, .template-page .template-blog .entry-content-wrapper h2 {
    font-size: 2vh !important;
    color: white;
    padding: 0 !important;
    text-align: left !important;
    font-family: EurostileLTStd-Demi, 'Helvetica-Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

#top.page-id-842 .entry-content-header {
    position: absolute;
    bottom: 22px;
    z-index: 99;
}

#top.page-id-842 .more-link {
    color: white;
    font-size: 13px;
    font-family: DINPro-Demi, 'Helvetica-Neue', Helvetica, Arial, sans-serif;;
}

#top.page-id-842 .entry-content {
    position: absolute;
    top: 10px;
    z-index: 99;
    background: linear-gradient(135deg, transparent 5px, #44834e 0) top left,
    linear-gradient(225deg, transparent 5px, #44834e 0) top right,
    linear-gradient(315deg, transparent 5px, #44834e 0) bottom right,
    linear-gradient(45deg, transparent 5px, #44834e 0) bottom left;
    background-size: 51% 51%;
    border-bottom-style: hidden;
    background-repeat: no-repeat;
    padding: 0px 20px 0px;
}

#top.page-id-842 .entry-content p {
    display: none;
}

#top.page-id-842 .entry-content-wrapper .big-preview.single-big {
    margin-left: -15px;
    margin-right: -15px;
}

#top.page-id-842 .wp-post-image {
    border-radius: 0;
}

#top.page-id-842 article.post-entry {
    margin-bottom: 50px;
}

/*
Style NEWS ÜBERSICHT SEITE ENDE
 */


/*
  Hier kommen die UNSERE PRODUKTE UND DIENSTLEISTUNGEN Mini LKW.
*/

#top .avia-smallarrow-slider .avia-slideshow-arrows {
    width: 100%;
    top: 90px;
}

#top .avia-content-slider .avia-slideshow-arrows a.prev-slide {
    top: 0;
    background: #44834e;
    position: absolute;
    left: 0;
    transform: translateX(-100%);
}

#top .avia-content-slider .avia-slideshow-arrows a.next-slide {
    top: 0;
    background: #44834e;
    position: absolute;
    right: -20px;
}

#top .avia-content-slider .avia-slideshow-arrows a.prev-slide {
    top: 50%;
    background: #44834e;
    position: absolute;
    left: 60px;
    transform: translateX(-100%);
}

#top #av_section_6 .avia-content-slider .avia-slideshow-arrows a.next-slide {
    top: 50%;
    right: 0;
}


.responsive .logo img {
    height: 55px;
    margin-left: auto;
    margin-right: auto;
}


.social_header #header_main .container, .social_header .main_menu ul:first-child > li a {
    height: 116px;
    line-height: 116px;
}

#custom_html-2 {
    text-align: center;
}

.responsive .logo img {
    height: 55px !important;
    margin-left: auto;
    margin-right: auto;
}

/*
Styling des Burger Menus
 */
#top #av-burger-menu-ul {
    background: #292929;
}

.html_av-overlay-side #top #wrap_all .av-burger-overlay-scroll #av-burger-menu-ul a {
    color: #f2f2f2 !important;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 15px 15px;
}

.html_av-overlay-side #top #wrap_all .av-burger-overlay-scroll #av-burger-menu-ul ul li a {
    color: #f2f2f2 !important;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-left: 15px;
}

.html_av-overlay-side-classic #top .av-burger-overlay li li .avia-bullet, .html_av-overlay-side.av-burger-overlay-active #top .av-hamburger-inner, .html_av-overlay-side.av-burger-overlay-active #top .av-hamburger-inner::before, .html_av-overlay-side.av-burger-overlay-active #top .av-hamburger-inner::after {
    background-color: #44834e !important;
}

/*
Portfolio
 */

/* Give it an ID and important to overwrite the menu Arrow color. */
#gloria-portfolio-arrow {
    color: white !important;
    background: linear-gradient(135deg, transparent 2px, #44834e 0) top left, linear-gradient(225deg, transparent 2px, #44834e 0) top right, linear-gradient(315deg, transparent 2px, #44834e 0) bottom right, linear-gradient(45deg, transparent 2px, #44834e 0) bottom left;
    background-size: 51% 51%;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-right: -23px;
}

.title_container .breadcrumb {
    right: unset;
}


#top .avia-font-entypo-fontello, body .avia-font-entypo-fontello, html body [data-av_iconfont='entypo-fontello']:before {
    font-size: 14px;
}


#top .avia-logo-element-container .slide-entry:hover {
    border-bottom: solid #44834e 1px;
}


#gloria_back {
    position: relative;
    float: left;
    background: linear-gradient(135deg, transparent 2px, #44834e 0) top left, linear-gradient(225deg, transparent 2px, #44834e 0) top right, linear-gradient(315deg, transparent 2px, #44834e 0) bottom right, linear-gradient(45deg, transparent 2px, #44834e 0) bottom left;
    color: white !important;
    background-size: 51% 51%;
    background-repeat: no-repeat;
    top: 13px;
    left: -7px;
}

.gloria_back_container {
    float: right;
}

.html_av-submenu-hidden #gloria_back.av-submenu-indicator:before {
    content: "\E87c";
}

#avia-menu {
    list-style-type: none !important;
}

/*
Desktop Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the desktop view of your site */

@media only screen and (min-width: 768px) {
    /* Add your Desktop Styles here */

    #past_projects .slide-content {
        opacity: 0;
    }

    #past_projects .slide-entry:hover .slide-content {
        opacity: 1;
    }

    #past_projects .image-overlay.overlay-type-extern .image-overlay-inside:before {
        content: none;
        background-color: #44834e !important;
        color: #44834e !important;
    }

    #past_projects .image-overlay {
        background: #44834e;
        z-index: 6;
    }

    #projekt-kategorie_desktop #gloria-portfolio-arrow {
        color: white !important;
        background: linear-gradient(135deg, transparent 2px, #44834e 0) top left, linear-gradient(225deg, transparent 2px, #44834e 0) top right, linear-gradient(315deg, transparent 2px, #44834e 0) bottom right, linear-gradient(45deg, transparent 2px, #44834e 0) bottom left;
        background-size: 51% 51%;
        background-repeat: no-repeat;
        margin-top: 9px;
        margin-right: -20px;
        opacity: 1;
        height: 22px;
        line-height: 23px;
    }

    #projekt-kategorie_desktop .grid-entry-title.entry-title {
        margin-top: -19px;
        margin-left: 10px;
        font-size: 16px;
        width: 90%;
        color: #44834e;
    }

    #projekt-kategorie_desktop .grid-content {
        padding: 30px 0px 30px 5px;
        height: 80px;
    }

    #projekt-kategorie_desktop .grid-entry {
        padding: 5px;
    }

    #projekte-uebersicht-kategorien .avia-logo-element-container .slide-entry {
        padding: 50px;
    }

    #projekte-uebersicht-kategorien .avia-logo-element-container .slide-entry:hover {
        border-bottom: none;
    }

    .alles-in-einer-hand_desktop {
        color: white;
        font-family: 'EurostileLTStd-Bold', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
    }

    #top.page-id-504 .fullsize .template-blog .post-title {
        font-size: 1.8vh;
        color: #44834e;
        padding: 0;
        text-align: left;
        margin-left: 50px;
        font-family: EurostileLTStd-Demi, 'Helvetica-Neue', Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        letter-spacing: 1.2px;
    }

    #top.page-id-504 .entry-content {
        margin: 90px 50px 0px 50px !important;
    }

    #top .fullsize .template-blog .big-preview a img {
        border-radius: 0;
    }


    #top.page-id-504 .avia-logo-element-container .slide-entry {
        padding: 8px;
        margin-top: -8px;
        margin-bottom: 40px;
    }

    #top.page-id-504 #alles-in-einer-hand_desktop .avia-logo-element-container .slide-entry {
        padding: 30px;
        margin-top: -8px;
        margin-bottom: 40px;
    }

    #top .main_color .avia-color-theme-color {
        background: linear-gradient(135deg, transparent 5px, #44834e 0) top left,
        linear-gradient(225deg, transparent 5px, #44834e 0) top right,
        linear-gradient(315deg, transparent 5px, #44834e 0) bottom right,
        linear-gradient(45deg, transparent 5px, #44834e 0) bottom left;
        background-size: 51% 51%;
        border-bottom-style: hidden;
        background-repeat: no-repeat;
        padding: 13px 5px 13px;
    }

    .logo a {
        top: 15%;
    }

    .page-id-504 .slideshow_inner_caption {
        padding: 0 30%;
    }

    #top #header_meta, #top #header_meta nav ul ul li, #top #header_meta nav ul ul a, #top #header_meta nav ul ul {
        background-color: #44834e !important;
    }

    .custom-caption {
        width: 100%;
        color: #000;
        font-size: 1vh;
        line-height: 14px;
        text-transform: uppercase;
        text-align: center;
        display: inline-block;
    }

    .custom-caption-projekte {
        font-family: 'DINPro', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
        font-weight: bold;
        width: 100%;
        margin-top: 20px;
        color: #44834e;
        font-size: 1.4vh;
        text-decoration: underline;
        line-height: 17px;
        text-transform: uppercase;
        text-align: center;
        display: inline-block;
    }

    /*
Schattierung von SliderText oben
 */
    .gloria-avia-caption-content-gray {
        margin: 0 50px 0 50px !important;
        display: grid !important;
        background: rgba(0, 0, 0, 0.5) !important;
    }

    .gloria-avia-caption-title-gray {
        margin: 0 50px 0 50px !important;
        display: grid !important;
        background: rgba(0, 0, 0, 0.5) !important;
    }

    .gloria-avia-caption-content-white {
        margin: 0 50px 0 50px !important;
        display: grid !important;
        background: rgba(242, 242, 242, 0.5) !important;
    }

    .gloria-avia-caption-title-white {
        margin: 0 50px 0 50px !important;
        display: grid !important;
        background: rgba(242, 242, 242, 0.5) !important;
    }

    .gloria-avia-caption-content-green {
        margin: 0 50px 0 50px !important;
        display: grid !important;
        background: rgba(68, 131, 78, 0.5) !important;
    }

    .gloria-avia-caption-title-green {
        margin: 0 50px 0 50px !important;
        display: grid !important;
        background: rgba(68, 131, 78, 0.5) !important;
    }

    /*
    wir brauchen dads background: none hier, da wir sonst einen schwarzen schatten im content haben.
     */
    .caption_framed .slideshow_caption .avia-caption-content p, .caption_framed .slideshow_caption .avia-caption-title,
    .avia-caption .avia-caption-content p, .avia-caption .avia-caption-title {
        filter: alpha(opacity=80);
        display: inline-block;
        margin: 0 0 1px 0;
        padding: 25px 75px 15px 75px;
        background: none;
    }

    .av-main-nav ul li {
        list-style-type: none !important;

    }

    #avia-menu li.menu-item {
        font-family: 'EurostileLTStd-Bold', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
    }

    #avia-menu li.menu-item a:hover {
        color: #44834e;
    }

    #avia-menu li.menu-item a {
        color: #292929;
        font-size: 11px;
    }

    #avia-menu li.menu-item-has-children .children {
        width: 320px;
    }

    #avia-menu li.menu-item-has-children ul li {
        padding-left: 10px;
        padding-right: 10px;
        background: #292929;
    }

    #avia-menu li.menu-item-has-children ul li a {
        background: #292929;
        border: none;
        margin: 7px 0px 2px 0px;
        padding-top: 0;
        color: white;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }

    #avia-menu li.menu-item-has-children ul li:last-child a {
        background: #292929;
        border: none;
        margin: 7px 0px 2px 0px;
        padding-top: 0;
        color: white;
    }

    #avia-menu li.menu-item-has-children ul li a:hover {
        color: #44834e !important;
    }

    #avia-menu li.menu-item-has-children ul li a:after {
        background: linear-gradient(135deg, transparent 2px, #f2f2f2 0) top left, linear-gradient(225deg, transparent 2px, #f2f2f2 0) top right, linear-gradient(315deg, transparent 2px, #f2f2f2 0) bottom right, linear-gradient(45deg, transparent 2px, #f2f2f2 0) bottom left;
        background-size: 51% 51%;
        background-repeat: no-repeat;
        color: #292929 !important;
        padding: 0px 8px !important;
        opacity: 0.8 !important;
        margin-top: -13px;
    }

    #top.page-id-504 article.post-entry {
        display: flex;
        margin: 0;
    }

    #top.page-id-504 #past_projects article.post-entry {
        width: 33.3333%;
    }

    #top.page-id-504 #av_section_6 article.post-entry {
        width: 33.3333%;
    }

    #top.page-id-504 article.post-entry a {
        border-radius: 0;
    }

    #top.page-id-504 article.post-entry a img {
        border-radius: 0;
    }

    #top.page-id-504 article.post-entry .blog-meta {
        width: 0px;
    }

    #top .fullsize .template-blog .big-preview {
        flex: 1;
        padding: 0;
    }

    #gloria_news_blog_entries .read-more-link {
        text-align: center;
        padding-top: 30px;
    }

    #gloria_news_blog_entries .read-more-link a {
        background: linear-gradient(135deg, transparent 5px, #44834e 0) top left, linear-gradient(225deg, transparent 5px, #44834e 0) top right, linear-gradient(315deg, transparent 5px, #44834e 0) bottom right, linear-gradient(45deg, transparent 5px, #44834e 0) bottom left;
        background-size: 51% 51%;
        border-bottom-style: hidden;
        background-repeat: no-repeat;
        padding: 4px 50px 4px;
    }

    #top .fullsize .template-blog .post .entry-content-wrapper {
        flex: 1;
        background-color: #f2f2f2;
    }

    #top.page-id-504 .entry-content-header {
        position: absolute;
        z-index: 99;
        top: 35px;
    }

    #top.page-id-504 #after_section_3 {
        border-color: transparent;
    }

    #top.page-id-504 #after_section_3 .container {
        border-color: transparent;
    }

    #top.page-id-504 #after_section_6 {
        border-color: transparent;
    }

    #top.page-id-504 #after_section_6 .container {
        border-color: transparent;
    }

    #top #alles-in-einer-hand_desktop.main_color .avia-color-theme-color {
        background: linear-gradient(135deg, transparent 5px, #292929 0) top left, linear-gradient(225deg, transparent 5px, #292929 0) top right, linear-gradient(315deg, transparent 5px, #292929 0) bottom right, linear-gradient(45deg, transparent 5px, #292929 0) bottom left;
        background-size: 51% 51%;
        background-repeat: no-repeat;
        padding: 19px 50px 19px;
        margin-top: 50px;
    }

    #top #past_projects .avia-content-slider .avia-slideshow-arrows a.prev-slide {
        top: 50%;
        background: linear-gradient(135deg, transparent 4px, #44834e 0) top left, linear-gradient(225deg, transparent 4px, #44834e 0) top right, linear-gradient(315deg, transparent 4px, #44834e 0) bottom right, linear-gradient(45deg, transparent 4px, #44834e 0) bottom left;
        background-size: 51% 51%;
        background-repeat: no-repeat;
        position: absolute;
        transform: translateX(-100%);
        opacity: 1;
        left: 55px;
    }

    #top #past_projects .avia-content-slider .avia-slideshow-arrows a.next-slide {
        opacity: 1;
        background: linear-gradient(135deg, transparent 4px, #44834e 0) top left, linear-gradient(225deg, transparent 4px, #44834e 0) top right, linear-gradient(315deg, transparent 4px, #44834e 0) bottom right, linear-gradient(45deg, transparent 4px, #44834e 0) bottom left;
        background-size: 51% 51%;
        background-repeat: no-repeat;
        right: -6px;
        top: 50%;
    }

    #top #past_projects .avia-content-slider .avia-slideshow-arrows a::before {
        background: transparent;
    }

    #top #products_and_services .avia-content-slider .avia-slideshow-arrows a::before {
        background: transparent;
    }

    #top #products_and_services .avia-content-slider .avia-slideshow-arrows a.prev-slide {
        top: 50%;
        background: linear-gradient(135deg, transparent 4px, #44834e 0) top left, linear-gradient(225deg, transparent 4px, #44834e 0) top right, linear-gradient(315deg, transparent 4px, #44834e 0) bottom right, linear-gradient(45deg, transparent 4px, #44834e 0) bottom left;
        background-size: 51% 51%;
        background-repeat: no-repeat;
        position: absolute;
        transform: translateX(-100%);
        opacity: 1;
    }

    #top #products_and_services .avia-content-slider .avia-slideshow-arrows a.next-slide {
        opacity: 1;
        background: linear-gradient(135deg, transparent 4px, #44834e 0) top left, linear-gradient(225deg, transparent 4px, #44834e 0) top right, linear-gradient(315deg, transparent 4px, #44834e 0) bottom right, linear-gradient(45deg, transparent 4px, #44834e 0) bottom left;
        background-size: 51% 51%;
        background-repeat: no-repeat;
        right: -4px;
        top: 50%;
    }

    #top #past_projects .slide-entry-title {
        color: white;
        margin-left: 38%;
        text-decoration: none;
        visibility: visible;
        text-align: center;
        width: 300px;
        z-index: 999999;
        margin-top: 50%;
    }

    #top #past_projects .container {
        max-width: 100% !important;
        padding: 0;
    }


}

#top .avia-logo-element-container .slide-image {
    background-color: transparent;
}

/*
Mobile Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the Mobile and Tablet Portrait view */

@media only screen and (max-width: 767px) {
    /* Add your Mobile Styles here */

    .page-id-504 h3 {
        text-align: center;
        margin: 0;
    }

    #top #header_meta, #top #header_meta nav ul ul li, #top #header_meta nav ul ul a, #top #header_meta nav ul ul {
        display:none;
    }

    #projekte-uebersicht-kategorien .avia-logo-element-container .slide-entry {
        padding: 15px;
    }

    .custom-caption-projekte {
        font-family: 'DINPro', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
        font-weight: bold;
        width: 100%;
        margin-top: 20px;
        color: #44834e;
        font-size: 11px;
        text-decoration: underline;
        line-height: 17px;
        text-transform: uppercase;
        text-align: center;
        display: inline-block;
    }

    #top.page-id-504 .entry-content p {
        display: none;
    }

    #top.page-id-504 .entry-content-header {
        position: absolute;
        bottom: 22px;
        z-index: 99;
    }

    #top.page-id-504 .fullsize .template-blog .post-title {
        font-size: 2vh;
        color: white;
        padding: 0;
        text-align: left;
        font-family: EurostileLTStd-Demi, 'Helvetica-Neue', Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        letter-spacing: 1.2px;
    }

    #top.page-id-504 .entry-content {
        position: absolute;
        top: 10px;
        z-index: 99;
        background: linear-gradient(135deg, transparent 5px, #44834e 0) top left,
        linear-gradient(225deg, transparent 5px, #44834e 0) top right,
        linear-gradient(315deg, transparent 5px, #44834e 0) bottom right,
        linear-gradient(45deg, transparent 5px, #44834e 0) bottom left;
        background-size: 51% 51%;
        border-bottom-style: hidden;
        background-repeat: no-repeat;
        padding: 0px 20px 0px;
    }

    #top .fullsize .template-blog .big-preview {
        margin-left: -55px;
        margin-right: -55px;
    }

    .custom-caption {
        width: 100%;
        color: #000;
        font-size: 1.3vh;
        line-height: 14px;
        text-transform: uppercase;
        text-align: center;
        display: inline-block;
    }

    #top .main_color .avia-color-theme-color {
        background: linear-gradient(135deg, transparent 5px, #44834e 0) top left,
        linear-gradient(225deg, transparent 5px, #44834e 0) top right,
        linear-gradient(315deg, transparent 5px, #44834e 0) bottom right,
        linear-gradient(45deg, transparent 5px, #44834e 0) bottom left;
        background-size: 51% 51%;
        border-bottom-style: hidden;
        background-repeat: no-repeat;
        padding: 19px 10px 19px;
    }

    /*
Schattierung von SliderText oben
 */
    .gloria-avia-caption-content-gray {
        margin: 0 35px 0 35px !important;
        display: grid !important;
        background: rgba(0, 0, 0, 0.5) !important;
    }

    .gloria-avia-caption-title-gray {
        margin: 0 35px 0 35px !important;
        display: grid !important;
        background: rgba(0, 0, 0, 0.5) !important;
    }

    .gloria-avia-caption-content-white {
        margin: 0 35px 0 35px !important;
        display: grid !important;
        background: rgba(242, 242, 242, 0.5) !important;
    }

    .gloria-avia-caption-title-white {
        margin: 0 35px 0 35px !important;
        display: grid !important;
        background: rgba(242, 242, 242, 0.5) !important;
    }

    .gloria-avia-caption-content-green {
        margin: 0 35px 0 35px !important;
        display: grid !important;
        background: rgba(68, 131, 78, 0.5) !important;
    }

    .gloria-avia-caption-title-green {
        margin: 0 35px 0 35px !important;
        display: grid !important;
        background: rgba(68, 131, 78, 0.5) !important;
    }

    /*
    wir brauchen dads background: none hier, da wir sonst einen schwarzen schatten im content haben.
     */
    .caption_framed .slideshow_caption .avia-caption-content p, .caption_framed .slideshow_caption .avia-caption-title,
    .avia-caption .avia-caption-content p, .avia-caption .avia-caption-title {
        filter: alpha(opacity=80);
        display: inline-block;
        margin: 0 0 1px 0;
        padding: 10px 15px;
        background: none;
    }

    #alles-in-einer-hand_mobile h3 {
        text-decoration: none;
        font-size: 14px;
        line-height: 1.33;
        letter-spacing: 0.6px;
    }

    #alles-in-einer-hand_mobile h2 {
        text-decoration: none;
        font-size: 20px;
        line-height: 1.25;
        letter-spacing: 1px;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.65);
    }

    #top #alles-in-einer-hand_mobile.main_color .avia-color-theme-color {
        background: linear-gradient(135deg, transparent 5px, #292929 0) top left, linear-gradient(225deg, transparent 5px, #292929 0) top right, linear-gradient(315deg, transparent 5px, #292929 0) bottom right, linear-gradient(45deg, transparent 5px, #292929 0) bottom left;
        background-size: 51% 51%;
        background-repeat: no-repeat;
        padding: 19px 50px 19px;
    }

    #top #alles-in-einer-hand_mobile.main_color .avia-color-theme-color .avia_iconbox_title {
        color: white;
        font-weight: bold;
    }

    #top .logo,
    #top .logo a {
        height: 55px;
        margin-left: auto;
        margin-right: auto;
    }

    #top #menu-item-search {
        display: none;
    }

    .av-burger-overlay-active #top #menu-item-search {
        display: block;
    }

    .html_av-overlay-side.av-burger-overlay-active #top #wrap_all #header .menu-item-search-dropdown a {
        color: #44834e !important;
    }

    .html_av-overlay-side #top #wrap_all div .av-burger-overlay-scroll #av-burger-menu-ul a:hover {
        background-color: transparent !important;
        color: #44834e !important;
    }

    .html_av-submenu-hidden .av-submenu-indicator {
        background: linear-gradient(135deg, transparent 2px, #f2f2f2 0) top left, linear-gradient(225deg, transparent 2px, #f2f2f2 0) top right, linear-gradient(315deg, transparent 2px, #f2f2f2 0) bottom right, linear-gradient(45deg, transparent 2px, #f2f2f2 0) bottom left;
        background-size: 51% 51%;
        background-repeat: no-repeat;
        color: #292929 !important;
        padding: 0px 8px !important;
        opacity: 0.8 !important;
        margin-top: -13px;
    }

    .html_av-submenu-hidden .av-submenu-indicator:hover {
        background: linear-gradient(135deg, transparent 2px, #44834e 0) top left, linear-gradient(225deg, transparent 2px, #44834e 0) top right, linear-gradient(315deg, transparent 2px, #44834e 0) bottom right, linear-gradient(45deg, transparent 2px, #44834e 0) bottom left;
        background-size: 51% 51%;
        background-repeat: no-repeat;
        color: #292929 !important;
        padding: 0px 8px !important;
        opacity: 0.8 !important;
        margin-top: -13px;
    }

    .html_av-overlay-full #top #wrap_all #av-burger-menu-ul li a {
        text-align: left;
    }

    .responsive #top #wrap_all .slide-entry {
        width: 40%;
        margin-left: 7% !important;
    }

    .responsive #top #wrap_all #projekte-uebersicht-kategorien .slide-entry {
        width: 50%;
        margin-left: 0% !important;
    }

    .responsive #top #wrap_all  .slide-entry {
        margin-left: 0% !important;
    }

    #past_projects .container {
        width: 100% !important;
        max-width: 100% !important;
    }

    #top #past_projects .avia-content-slider .avia-slideshow-arrows a.prev-slide {
        top: 50%;
        background: linear-gradient(135deg, transparent 4px, #44834e 0) top left, linear-gradient(225deg, transparent 4px, #44834e 0) top right, linear-gradient(315deg, transparent 4px, #44834e 0) bottom right, linear-gradient(45deg, transparent 4px, #44834e 0) bottom left;
        background-size: 51% 51%;
        background-repeat: no-repeat;
        position: absolute;
        transform: translateX(-100%);
        opacity: 1;
        left: 30px;
    }

    #top #past_projects .avia-content-slider .avia-slideshow-arrows a.next-slide {
        opacity: 1;
        background: linear-gradient(135deg, transparent 4px, #44834e 0) top left, linear-gradient(225deg, transparent 4px, #44834e 0) top right, linear-gradient(315deg, transparent 4px, #44834e 0) bottom right, linear-gradient(45deg, transparent 4px, #44834e 0) bottom left;
        background-size: 51% 51%;
        background-repeat: no-repeat;
        right: -4px;
        top: 50%;
    }

    #top #past_projects .avia-content-slider .avia-slideshow-arrows a::before {
        background: transparent;
    }

    #top #products_and_services .avia-content-slider .avia-slideshow-arrows a::before {
        background: transparent;
    }

    #top #past_projects .slide-entry-title {
        color: white;
        margin-left: 30px;
        text-decoration: none;
        text-align: left;
    }

/*    #top #past_projects span.av-structured-data:last-child {
        visibility: visible;
        position: absolute;
        left: 20px;
        bottom: -125px;
        color: white;
        font-size: 14px;
        font-family: 'EurostileLTStd-bold', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
        letter-spacing: 2px;
    }*/


    #top #products_and_services .avia-content-slider .avia-slideshow-arrows a.prev-slide {
        top: 50%;
        background: linear-gradient(135deg, transparent 4px, #44834e 0) top left, linear-gradient(225deg, transparent 4px, #44834e 0) top right, linear-gradient(315deg, transparent 4px, #44834e 0) bottom right, linear-gradient(45deg, transparent 4px, #44834e 0) bottom left;
        background-size: 51% 51%;
        background-repeat: no-repeat;
        position: absolute;
        transform: translateX(-100%);
        opacity: 1;
        left: 0px;
        width: 35px;
        height: 35px;
    }

    #top #products_and_services .avia-content-slider .avia-slideshow-arrows a.next-slide {
        opacity: 1;
        background: linear-gradient(135deg, transparent 4px, #44834e 0) top left, linear-gradient(225deg, transparent 4px, #44834e 0) top right, linear-gradient(315deg, transparent 4px, #44834e 0) bottom right, linear-gradient(45deg, transparent 4px, #44834e 0) bottom left;
        background-size: 51% 51%;
        background-repeat: no-repeat;
        right: -30px;
        top: 50%;
        width: 35px;
        height: 35px;
    }

    .responsive #top #wrap_all #products_and_services .slide-entry {
        width: 48%;
    }

    /*
    Portfolioeinträge Vorschau
     */
    .responsive #top #wrap_all .grid-sort-container .grid-entry {
        width: 48% !important;
        float: left;
        padding-left: 7px;
    }

    .grid-content {
        height: 75px;
        display: flex;
        text-align: left;
        align-items: baseline;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 5px 5px;

        /* These are technically the same, but use both */
        overflow-wrap: break-word;
        word-wrap: break-word;

        -ms-word-break: break-all;
        /* This is the dangerous one in WebKit, as it breaks things wherever */
        word-break: break-all;
        /* Instead use this non-standard one: */
        word-break: break-word;

        /* Adds a hyphen where the word breaks, if supported (No Blink) */
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    .grid-entry-title a {
        color: #44834e !important;
    }

    #top .avia-slideshow-arrows a {
        width: 35px;
        height: 35px;
    }

    .avia-slideshow-arrows a:before {
        line-height: 35px !important;
    }

    .avia-button {
        font-size: 12px !important;
    }

    #gloria_color_cur_projects {
        min-height: 31px;
        height: 31px;
    }

    #top .parent-pageid-834 .avia-image-container .avia_image, .avia-image-container .avia-image-overlay-wrap {

/*        kurz rausgenommen, weil auf der historie seite die Bilder sonst zu klein sind.
width: 66px;*/
        height: auto;
    }

    #top #projekt-kategorie_mobile .avia-image-container .avia_image, .avia-image-container .avia-image-overlay-wrap {
        width: 66px;
        height: auto;
    }

    .responsive .single-portfolio .title_container .breadcrumb {
        top: 15px;
    }


}

.responsive #scroll-top-link {
    display: block !important;
    background: linear-gradient(135deg, transparent 5px, #f2f2f2 0) top left, linear-gradient(225deg, transparent 5px, #f2f2f2 0) top right, linear-gradient(315deg, transparent 5px, #f2f2f2 0) bottom right, linear-gradient(45deg, transparent 5px, #f2f2f2 0) bottom left;
    background-size: 51% 51%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    color: black;
    line-height: 32px;
    border: none;
}


